//------------------------------------
// BOOTSTRAP CONFIGURATION
//------------------------------------

// Bootstrap Variables
@import "variables";

// Import Bootstrap LESS (Be sure to move variables.less from the bower_components/bootstrap folder and 
// delete the import from bootstrap.less when updating the framework)
@import "../bower_components/bootstrap/less/bootstrap.less";

//------------------------------------
// OTHER BOWER LIBRARIES
//------------------------------------

//@import "../bower_components/new_lib/new_lib.min.css";

//------------------------------------
// STARTER/GLOBAL CSS
//------------------------------------
body {
	font-weight: 300;
	outline: none;
}
a, button {
	outline: none !important;
	&:active {
		outline: none !important;
	}
}
// Helper class for creating a placeholder for images
.placeholder(@width, @height) {
	display: block;
	width: @width;
	height: @height;
	background-color: @gray-lighter;
	text-align: center;
	line-height: @height;
}

// Spambot Killer - Use it to obfuscate text email addresses
.k {
	display: none;
}

.main-background {
	width: 100%;
	padding-bottom: 25px;
	background-color: #fff;
}

//------------------------------------
// IMPORT OTHER LESS FILES HERE
//------------------------------------
@import "pages/index";