doctype html
html
	head
		title Momentum Starter
		include partials/meta.jade
		// Google Web Font - Open Sans
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,400,300", rel="stylesheet", type="text/css")
		// Main Stylesheet
		link(rel="stylesheet", type="text/css", href="css/main.css")
		// Other Stylesheets
		block stylesheets
		// Jquery (Google CDN)
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		// Other Scripts
		block scripts
	body
		// Main Navigation
		include navigation/main.jade
		// Main Content
		block body
		// Footer Content
		footer
		// Import all concatenated Javascript Libraries
		script(src="js/all.js")
		// Deferred Scripts
		block deferred-scripts
